<div class="container" >
    <div class="album">    
        <div class="head">
            <h1>Album {{album.number}}</h1>
            <h3>XX Photos</h3>
        </div>
        <div class="view1">
            <div class="data"></div>
            <h3>Photo Description {{photos.id}}</h3>
        </div>
        <div class="view2">
            <div class="data"></div>
            <h3>Photo Description</h3>
        </div>
        <div class="view3">
            <div class="data"></div>
            <h3>Photo Description</h3>
        </div>
        <div class="view4">
            <div class="data"></div>
            <h3>Photo Description</h3>
        </div>
        <div class="view5">
            <div class="data"></div>
            <h3>Photo Description</h3>
        </div>
    </div>

    <div class="album">
        <div class="head">
            <h1>Album {{album.number}}</h1>
            <h3>XX Photos</h3>
        </div>
        <div class="view1">
            <div class="data"></div>
            <h3>Photo Description</h3>
        </div>
        <div class="view2">
            <div class="data"></div>
            <h3>Photo Description</h3>
        </div>
        <div class="view3">
            <div class="data"></div>
            <h3>Photo Description</h3>
        </div>
        <div class="view4">
            <div class="data"></div>
            <h3>Photo Description</h3>
        </div>
        <div class="view5">
            <div class="data"></div>
            <h3>Photo Description</h3>
        </div>
    </div>
    <p>50 Form XXX Photos</p>
</div>