<div class="box">
  <img src="https://scontent.fcgk10-1.fna.fbcdn.net/v/t1.0-1/c0.0.160.160a/p160x160/40037121_1834094229972146_8133960213653880832_n.jpg?_nc_cat=105&_nc_ht=scontent.fcgk10-1.fna&oh=8a8cb8a902aeefcbb9845977c2890fde&oe=5CBF80E0" class="myphoto">
  <div style="text-align:left">
    <h1>{{textJudul}}</h1>
  </div>
  <nav>
    <a (click)="textJudul='All Contacts'" routerLink="/contacts" routerLinkActive="active">Contacts</a>
    <a (click)="textJudul='All Photos'" routerLink="/photos" routerLinkActive="active">Photos</a>
  </nav>
</div>