.container{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 15% 10px 15%;
}

.container p{
    color: gray;
    font-size: 18px;
    text-align: center;
}

h1{
    font-weight: 700;
    display: unset;
}

.card{
    height: 130px;
    width: auto;
    margin: 50px 70px 50px 70px;
    border-radius: 15px;
    display: block;
    padding: 15px 30px 15px 30px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.20);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.20);
}

.card .left{
    margin: 0;
    padding: 10px 0 0 20px;
    background-color: white;
    height: 100%;
    width: 50%;
    display: block;
    float: left;
}

.card .right{
    margin: 0;
    padding: 0;
    background-color: white;
    border-left: 2px solid gray;
    height: 100%;
    width: 40%;
    display: block;
    float: right;
}

.card .right p{
    text-align: left;
    margin-left: 30%;
    margin-top: 15px;
    font-weight: 700;
}
